body {
  text-align: center;
  background-color: #304928c0;
  font-family: 'Arvo', serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./images/drum.png);
  
}

h1 {
  font-size: 5rem;
  color: #eeff00;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(./images/tom1.png);
  color: rgb(6, 130, 255);
}

.a {
  background-image: url(./images/tom2.png);
  color: rgb(6, 130, 255);
}

.s {
  background-image: url(./images/tom3.png);
  color: rgb(6, 130, 255);
}

.d {
  background-image: url(./images/tom4.png);
  color: rgb(6, 130, 255);
}

.j {
  background-image: url(./images/snare.png);
  color: #DA0463;
}

.k {
  background-image: url(./images/crash.png);
  color: #DA0463;
}

.l {
  background-image: url(./images/kick.png);
  color: #DA0463;
}

.set {

  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #ff0000;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.drum:hover {
  background-color: #2980b9;
}
@media only screen and (max-width: 600px) {
  .set {
      flex-direction: column;
  }

  .drum {
      margin-bottom: 10px;
  }
}
